html, body {
  height:100%;
  width: 100%;
  min-height:100%;
  padding: 0px;
  margin:0px;
  font-size:12px;
}

body {
  display: flex;
  flex-direction: column;
  max-height:100%;
}

.StickyHeader, .StickyFooter {
  flex: 0 0 auto;
  background: red;
}

.StickyContent {
  flex: 1 1 auto;
  overflow-y: hidden;
  background: green;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:stretch;
  height: 100%;
  overflow: hidden;
}

.menu{
  flex: 0 0 auto;
  order:1;
  background-color: yellow;
  width: 240px;
  max-height:100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.pageContent{
  flex: 1 1 auto;
  max-height:100%;
  order:2;
  overflow-y: scroll;
  overflow-x:auto;
}